{% extends 'base_login.html' %}
{% block title %}Login{% endblock %}

{% block head_extra %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'wefixhub/css/login-style.css' %}">
{% endblock %}

{% block content %}
<section class="login-section d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center"> 
            
            <div class="col-12 col-sm-10 col-md-6 col-lg-5"> 
                
                <div class="login-card p-4 mx-auto text-center"> 
                    
                    <h1 class="h3 mb-4 fw-bold">Acesso ao Sistema</h1> 
                
                    <div class="d-flex justify-content-center mb-4">
                        
                        <svg class="login-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" >
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    </div>
                
                    <form method="post" class="d-grid gap-3">
                        {% csrf_token %}
                        
                        <div class="mb-3"> 
                            <input 
                                type="text" 
                                name="{{ form.username.name }}" 
                                class="form-control login-input" 
                                placeholder="Nome de usuário" 
                                id="{{ form.username.id_for_label }}">
                        </div>
                        <div class="mb-4">
                            <input 
                                type="password" 
                                name="{{ form.password.name }}" 
                                class="form-control login-input" 
                                placeholder="Senha" 
                                id="{{ form.password.id_for_label }}">
                        </div>

                        <button type="submit" class="btn login-button">Entrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}