{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <h1>Detalhes do Pedido #{{ pedido.id }}</h1>
    <p><strong>Data da Compra:</strong> {{ pedido.data_criacao }}</p>
    <p><strong>Código do Cliente:</strong> {{ pedido.cliente.client_code }}</p>
    <p><strong>Data da Expedição:</strong> {{ pedido.data_envio_solicitada|date:"d/m/Y" }}</p>
    <p><strong>Situação do Pedido</strong>: {{ pedido.status }}</p>
    <p><strong>Opção de Frete:</strong> {{ pedido.get_frete_option_display }}</p>
    <p><strong>Opção de Nota Fiscal:</strong> {{ pedido.get_nota_fiscal_display }}</p>
    
    {% if user.is_staff %}
    <p><strong>Criado por:</strong> {{ pedido.criado_por.username }}</p>
    {% endif %}
    <div class="row mb-4">
        {% if user.is_staff %}
            <div class="col-md-6 d-flex align-items-center mb-2">
                <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary">Voltar para o Dashboard</a>
                <a href="{% url 'exportar_detalhes_pedido_admin_excel' pedido.id %}" class="btn btn-primary ms-2">Exportar para Excel (Admin)</a>
                <a target="_blank" class="btn btn-success ms-2" href="{% url 'enviar_whatsapp' pedido.id %}">
                    Enviar Para Whatsapp
                </a>
            </div>

            <div class="col-md-6 d-flex flex-column mb-2">
                <div class="d-flex align-items-center">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
                        Upload de Orçamento
                    </button>
                    {% if pedido.orcamento_pdf %}
                        <a href="{{ pedido.orcamento_pdf.url }}" class="btn btn-info ms-2" target="_blank">Baixar Orçamento (PDF)</a>
                    {% endif %}
                </div>
                
                <div class="collapse mt-2" id="collapseForm">
                    <form action="{% url 'upload_orcamento_pdf' pedido.id %}" method="post" enctype="multipart/form-data" class="d-flex">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="file" name="orcamento_pdf_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

        {% else %}
            <div class="col-md-12 d-flex justify-content-start align-items-center mb-2">
                <a href="{% url 'pedidos' %}" class="btn btn-secondary">Voltar para o Histórico</a>
                <a href="{% url 'exportar_pedido_cliente_excel' pedido.id %}" class="btn btn-primary ms-2">Exportar para Excel</a>
                {% if pedido.orcamento_pdf %}
                    <a href="{{ pedido.orcamento_pdf.url }}" class="btn btn-info ms-2" target="_blank">Baixar Orçamento (PDF)</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

    
    
    {% if pedido.frete_option != 'ONIBUS' and pedido.frete_option != 'RETIRADA' %}
        <div class="card mb-4">
            <div class="card-header">
                <h3>Endereço de Envio</h3>
            </div>
            <div class="card-body">
                <p>{{ pedido.endereco.logradouro }}, {{ pedido.endereco.bairro }}, {{ pedido.endereco.numero }} {{ pedido.endereco.cidade }} - {{ pedido.endereco.estado }} (CEP: {{ pedido.endereco.cep }})</p>
            </div>
        </div>
    {% endif %}
    
    <hr>
    
    <h2>Itens do Pedido</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                {% if preco_exibido == 'sp' %}
                    <th>Valor (SP)</th>
                {% elif preco_exibido == 'es' %}
                    <th>Valor (ES)</th>
                {% elif preco_exibido == 'todos' %}
                    <th>Valor (SP)</th>
                    <th>Valor (ES)</th>
                {% endif %}
                <th>Quantidade</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item_detalhe in itens_detalhes %}
            <tr>
                <td>{{ item_detalhe.item.produto.product_code }}</td>
                <td>{{ item_detalhe.item.produto.product_description }}</td>
                {% if preco_exibido == 'todos' %}
                    <td>R$ {{ item_detalhe.item.produto.product_value_sp|floatformat:2 }}</td>
                    <td>R$ {{ item_detalhe.item.produto.product_value_es|floatformat:2 }}</td>
                {% else %}
                    <td>R$ {{ item_detalhe.valor_unitario|floatformat:2 }}</td>
                {% endif %}
                <td>{{ item_detalhe.item.quantidade }}</td>
                <td>R$ {{ item_detalhe.valor_total|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                {% if preco_exibido == 'todos' %}
                    <td colspan="5" class="text-end"><strong>Total Geral:</strong></td>
                {% else %}
                    <td colspan="4" class="text-end"><strong>Total Geral:</strong></td>
                {% endif %}
                <td><strong>R$ {{ total_geral|floatformat:2 }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}