{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}
    <h1>Detalhes do Pedido #{{ pedido.id }}</h1>
    <p><strong>Data da Compra:</strong> {{ pedido.data_criacao }}</p>
    <p><strong>Data da expedição:</strong> {{ pedido.data_envio_solicitada|date:"d/m/Y" }}</p>


    <hr>
           <div class="card mb-4">
        <div class="card-header">
            <h3>Endereço de Envio</h3>
        </div>
        <div class="card-body">
            <p>{{ pedido.endereco.logradouro }}, {{ pedido.endereco.numero }} - {{ pedido.endereco.cidade }} (CEP: {{ pedido.endereco.cep }})</p>
        </div>
    </div>
    <hr>
    
    <h2>Itens do Pedido</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Valor Unitário</th>
                <th>Quantidade</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.produto.product_code }}</td>
                <td>{{ item.produto.product_description }}</td>
                <td>R$ {{ item.produto.product_value }}</td>
                <td>{{ item.quantidade }}</td>
                <td>R$ {{ item.get_total|floatformat:2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end"><strong>Total Geral:</strong></td>
                <td><strong>R$ {{ pedido.get_total_geral|floatformat:2 }}</strong></td>
            </tr>
        </tfoot>
    </table>
    
    {% if user.is_staff %}
        <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary mt-3">Voltar para o Dashboard</a>
    {% else %}
        <a href="{% url 'pedidos' %}" class="btn btn-secondary mt-3">Voltar para o Histórico</a>
    {% endif %}

    <a href="{% url 'exportar_detalhes_pedido_admin_excel' pedido.id %}" class="btn btn-primary mt-3">Exportar para Excel</a>

{% endblock %}